<div class="form-group">
  <%= form_with model: [@category, @category.items.build] do |form| %>
    <% form.text_field :category_id ,:readonly => true%>

    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :cost_price %><br>
      <%= form.text_field :cost_price, class: "form-control" %>
    </div>

    <div>
      <%= form.label :selling_price %><br>
      <%= form.text_field :selling_price, class: "form-control" %>
    </div>

    <div>
      <%= form.label :quantity %><br>
      <%= form.text_field :quantity, class: "form-control" %>
    </div>

    <div>
      <%= form.label :ideal_quantity %><br>
      <%= form.text_field :ideal_quantity, class: "form-control" %>
    </div>

    <div>
    <%= form.label :header_image %><br>
    <%= form.file_field :header_image, class: "form-control" %>
  </div>

    <div>
      <%= form.label :status %><br>
      <%= form.radio_button :status, true %> Yes<br />
      <%= form.radio_button :status, false %> No<br />   
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>