<%= form_with model: @category do |form| %>
  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control" %>
    <% @category.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :status %><br>
    <%= form.radio_button :status, true %> Yes<br />
    <%= form.radio_button :status, false %> No<br />   
    <% @category.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %> 
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>